<input type=file name='browse' style="display: none;">
<input type=text name=file>          
	   
	   <button onclick="document.main.browse.click();file.value=browse.value;" type="button" title="Guarda la información ingresada"><span>Adjuntar..</span></button> 