		<!-- START BLOCK : comuna_region_defecto -->
		<option value="" selected="selected">Seleccione Regi&oacute;n - Comuna</option>
		<!-- END BLOCK : comuna_region_defecto -->
		
		<!-- START BLOCK : comuna_region -->
		<option value="{comuna_id}" {selected}>{comuna_nombre} - {region_nombre}</option>
		<!-- END BLOCK : comuna_region -->