<p >
           <img src="www/imag/home.jpg">
		   
		      
		   
        <div id="conferencistas">
		
	 
        <!-- INCLUDE BLOCK : www/templates/general/ciie_index_conferenciastas.tpl -->
     
    	</div>
		   
        </p>
  </div>
      
         
		
         
	 
        
      