<p >
          <script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','600','height','376','title','banner','src','www/flash/banner','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','www/flash/banner' ); //end AC code
</script><noscript ><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="600" height="376" title="banner">
            <param name="movie" value="www/flash/banner.swf" />
            <param name="quality" value="high" />
            <embed src="www/flash/banner.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="600" height="376"></embed>
          </object></noscript>
        </p>
  </div>
      <div id="contenido_col">
        <div id="columna1">
          
            <!-- INCLUDE BLOCK : www/templates/general/ciie_index_fecha.tpl -->
        </div>
        <div id="columna2">
		
	 
        <!-- INCLUDE BLOCK : www/templates/general/ciie_index_conferenciastas.tpl -->
     
    	</div>
		
         
	<div id="columna3">
	
	
        <!-- INCLUDE BLOCK : www/templates/general/ciie_index_destacado.tpl -->
            
		  
		  </div>
        
      