<div style="float:right">	<a href="javascript:process('home',0)" >&lt;&lt; Volver</a></div><br /><br />
<!-- START BLOCK : lista_item_FAQ -->		
<strong><a  href="javascript:ate_view_faq({id_faq});">{faq_orden}.- {faq}</a></strong><br /> 
<!-- END BLOCK : lista_item_FAQ -->

<div style="border-bottom:1px dotted #333333; width:90%; text-align:center; margin:10px 0px 15px 0px;">&nbsp;</div>
			  	
<strong>{orden_selected}.- {faq_selected}</strong>
<br  /><br  />
{respuesta_selected}<br  /><br  />
<a href="#top" >Subir</a> 
		