<a name="top"></a>
<div id="contenedor" >
    <div id="heder_superior"  > 
	
		<div style="float:right; height:130px; width:400px; z-index:100px; ">
	  <a href="?page=view_superior"   > 
	  <img src="www/imag/blank.gif"  border="0" width="400px"  height="100"/> </a>
	  </div>
      <h1 >TERCER CONGRESO DE INVESTIGACI&Oacute;N EN EDUCACI&Oacute;N SUPERIOR  
	 </h1> 
    </div>
      <div id="topnav"> 
        <!-- INCLUDE BLOCK : www/templates/general/menu_include.tpl --> 
		

		<!-- START BLOCK : bloque_contenido_modulo -->
			<div class="titulo_inter" style="font-size:23px " id="titulo_inter"  >         
			{titulo_sitio}
			</div>
			<div id="contenido_inter"  >
			{contenido_sitio}
			</div> 
		<!-- END BLOCK : bloque_contenido_modulo -->
		
		<!-- START BLOCK : bloque_contenido_modulo_home -->
			{contenido_sitio}
		<!-- END BLOCK : bloque_contenido_modulo_home -->
						
						
  </div>
		
</div>
  <div id="pie">
  <table border="0" style="width:100%">
  
    <tr>
  <td   colspan="3"><br /><br /><br /><br />
 </td>
  </tr>
  <tr>
  <td  width="20%"><img  border="0" src="www/imag/logos/blanco.jpg" /></td>
  <td> <div class="frase"> </div></td>
  <td  width="20%"><img border="0"  src="www/imag/logos/blanco.jpg" /></td>
  </tr>
   <tr>
  <td   colspan="3"  ><img src="www/imag/blank.gif"  height="30"/> </td>
  </tr>
    <tr>
  <td   colspan="3"  ><img src="www/imag/logos/logos_superior2.jpg" width="900"  border="0"  usemap="#Map" /> </td>
  </tr>
  </table>
  
  
 
  </div>
</div>
 <!-- INCLUDE BLOCK : www/templates/general/googleanalytics.tpl -->
<map name="Map" id="Map">

<area shape="rect" coords="34,14,94,77" href="http://www.uc.cl/" target="_blank" />
<area shape="rect" coords="133,13,253,76" href="http://www.udp.cl/" target="_blank">
<area shape="rect" coords="282,16,370,77" href="http://www.cpce.cl/" target="_blank">
<area shape="rect" coords="401,20,489,80" href="http://www.utalca.cl" target="_blank">
<area shape="rect" coords="516,20,603,80" href="http://www.uta.cl/" target="_blank">
<area shape="rect" coords="628,23,728,81" href="http://www.ucinf.cl/" target="_blank">
<area shape="rect" coords="751,24,854,83" href="http://www.uvm.cl/" target="_blank">
</map>