<table  style="width:100%" border="0" align="left" cellpadding="0" cellspacing="0">
      
		<!-- START BLOCK : bloque_menu_principal -->
		<tr>
        <td colspan="2"  class="menu_lateral"><a href="?page={menu_option}&langSite={menu_lang}"> {menu_name}</a></td>
      </tr>
				<!-- START BLOCK : bloque_menu_principal_sub -->
			<tr>
			<td colspan="2"  class="menu_lateral_sub"><a href="?page={menu_option}&langSite={menu_lang}">{menu_name}</a></td>
		  </tr>
			<!-- START BLOCK : bloque_menu_principal_sub -->
		<!-- START BLOCK : bloque_menu_principal -->
	  	  
       
      <tr>
        <td colspan="2" valign="top">
		<table  style="width:100%" border="0"  cellpadding="0" cellspacing="0">
            <tr>
              <th  style="width:50px; height:33px" scope="col">
			  <div align="center">
			  <a href="?page=view_contact" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image22','','cea/images/site/fonoemail_des.jpg',1)">
			  <img src="cea/images/site/fonoemail.jpg" name="Image22" width="34" height="28" border="0"></a></div>
			  </th>
              <th  class="destacado13Copy" scope="col"><a href="?page=view_contact">Contacto</a> </th>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="2" valign="top"><img src="cea/images/site/separador_gris9.jpg"  style="width:100%" height="7"></td>
      </tr>
      <tr>
        <td colspan="2" valign="top">
		<table style="width:100%"  border="0" cellpadding="0" cellspacing="0" bordercolor="#CCCCCC">
            <!--<tr>
              <th   style="width:50px; height:33px; text-align:center" scope="col"><div align="center"> <a href="javascript:verSitioLang('{title_lang_opcion}');" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image23','','cea/images/site/des_{title_lang_img}.jpg',1)">
			  <img src="cea/images/site/{title_lang_img}.jpg" name="Image23" width="34" height="28" border="0"></a></div></th>
              <th align="left" class="destacado13Copy" scope="col"> {title_lang} </th>
            </tr>-->
        </table></td>
      </tr>
      <!--<tr>
        <td colspan="2" valign="top"><img src="cea/images/site/separador_gris9.jpg" style="width:100%" height="7"></td>
      </tr>-->
	  
	  
	 
	   <!-- START BLOCK : bloque_contenido_lateral_home_columnas -->
      <tr>
        <td colspan="2" valign="top"><div class="NOT_ANTERIOR">Columnas
              <div></div>
        </div></td>
      </tr>
      <tr>
        <td colspan="2" valign="top">
		<div class="doc_cea"> 
		{noticias_recientes_lateral}  
		</div>
		</td>
      </tr>
	   <!-- END BLOCK : bloque_contenido_lateral_home_columnas -->
	   <!-- START BLOCK : bloque_contenido_lateral_home -->
      <tr>
        <td colspan="2" valign="top" class="piepagina">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" valign="top" class="piepagina"><div class="NOT_ANTERIOR"><a href="?page=view_columnas">Columnas Anteriores </a>
              <div></div>
        </div></td>
      </tr>     
      <tr>
        <td colspan="2" align="left" valign="top" class="piepagina">&nbsp;</td>
      </tr>
	        <tr>
        <td colspan="2" valign="top" class="piepagina"><div class="NOT_ANTERIOR"><a href="http://www.dii.uchile.cl/_contenido/prensa/" target="_blank">DII en la prensa </a>
           
        </div></td>
      </tr>
      
	  <!-- END BLOCK : bloque_contenido_lateral_home -->
	  
	  <!-- START BLOCK : bloque_contenido_lateral_nohome -->
      </tr>
	        <tr>
        <td colspan="2" valign="top" class="piepagina"><br /><div class="NOT_ANTERIOR"><a href="?page=view_publicaciones"  >DOCUMENTOS TRABAJO </a>
           
        </div>
		<ul style="text-align:left">
		<!-- START BLOCK : bloque_documentos -->
		<li><strong>N&ordm; {numero}.</strong><br />
		<a href="{link}">{texto}</a></li>
		 <!-- END BLOCK : bloque_documentos -->
		 
		</ul>
		
		
		</td>
      </tr>
      
	  <!-- END BLOCK : bloque_contenido_lateral_nohome -->	  
      <tr>
        <td colspan="2" align="left" valign="top" class="piepagina">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" valign="top"><img src="cea/images/site/separador_gris9.jpg"   style="width:100%" height="7"></td>
      </tr> 
      <tr>
        <td colspan="2" align="left" valign="top"><table class="TABLEform" >
		
		
            <tr>
              <td> </td>
            </tr>
        </table></td>
      </tr>
      
    </table>