
		<div id="navegador_ant">
		<div id="navegador">
			<!-- START BLOCK : bloque_menu_principal -->
			<li><a href="?page={menu_option}"> {menu_name}</a></li> 
			<!-- END BLOCK : bloque_menu_principal -->  

			<div style="background-color:#FFFFFF ; width:100%; text-align:left "> 
		<!-- INCLUDE BLOCK : www/templates/general/ciie_index_informacion.tpl -->
		 </div> 
			</div>
						
        </div>
