
<div class="fieldset_title_separador" style="text-align:right">
<a  onclick="javascript:hiddenId('ventanaInternaDatos');"><small>Cerrar Ventana</small></a></div>
 
{contenido_revision}
 
<div class="fieldset_title_separador" style="text-align:right">
<a  onclick="javascript:hiddenId('ventanaInternaDatos');"><small>Cerrar Ventana</small></a></div>
 