{tag_volver} 
<!-- START BLOCK : lista_item -->	

<div style=" height:120px;">	
<div style="float:left; width:60px; padding:5px;">
<img  class="img_photo" src='imageview.php?image=news/{src_image}' width='55px'>

 </div>
 <small>({fecha})</small>  <br /> <a  href="?langSite={lang}&page=news&id_elemento={id}">{titulo}</a> 
 <br /><small>{bajada}</small>
</div>
<!-- END BLOCK : lista_item -->
  		
				
<!-- START BLOCK : lista_item_select -->
 <small>({fecha})</small> <br /><strong>  {titulo}</strong>
 <br /><small>{bajada}</small>
<br  /><br  />
<div style='float:left; padding:5px;'>
<img src='imageview.php?image=news/{src_image}' width='150px'>
</div>
{contenido}<br  /><br  />
 
 
<!-- END BLOCK : lista_item_select -->
  