{hidden_page}
<a name="top"></a> 
<div id="wrapper">
   <div id='header'>
		<div id="hright">
			<div id="hrighttop">
				<p>
				
				</p>
			</div>
			<div id="menu">
			<!-- informacion del usuario online -->
			 	   
		
			</div>
		</div>
		<div id="title">  
			<h3>{titulo_chico}dddd</h3>
			 			
		</div> 
		
		
	</div> 
		
		<div id="bottomcontenttop">		
		<div id="user_info">
			<!-- START BLOCK : user_info -->
			<strong>{titulo_usuario}:</strong>&nbsp;{nombre_usuario} ({login_usuario}) 	
			 <!-- END BLOCK : user_info -->	
			 <p>
			<span id="online_clock" ></span > 
			<script>startTime();</script>			 
			</p>
			<a href="javascript:limpiarPaginamientoProcess('evaluador',0);"   accesskey="0" >	Evaluadores</a>

		</div></div>
			<div id="bottomcontent"> 
			<div class="complete">
					<div id="mainAreaInternal">
					<h2 id='titulo_menu'>{titulo_menu}&nbsp;</h2>				 
						<!-- inicio contenido -->
						<p class="thumbs">	</p>
						{contenido_sitio}
						<!-- fin contenido -->
					</div>
				</div>
					 
					
						  </div>
						  
						  </div>
						  
						   <div class="clear"></div>
{footer_page}						 
