<a name="top"></a>
<div id="contenedor" >
    <div id="heder"  > 
	 <img src="www/imag/topheder.jpg"   border="0"/>
		<!-- <div style="float:right; height:130px; width:400px; z-index:100px; background-color:#0064AC; ">
	  <a href="?page=view_superior"   > 
	  <img src="www/imag/blank.gif"  border="0" width="400px"  height="100"/> </a>
	  </div> 
      <h1 > Sistema de Evaluación de Seminarios Internacionales 2013 :: MINEDUC - CIAE 
	 </h1> 
    </div>-->
      <div id="topnav"> 
        <!-- INCLUDE BLOCK : www/templates/general/menu_include.tpl --> 
		
        	<!--<div>{user_id} hi dude!</div>-->
        	
		<!-- START BLOCK : bloque_contenido_modulo -->
			  <div class="titulo_inter" id="titulo_inter"  >         
			{titulo_sitio} 
			</div> 
			
			<div id="contenido_inter"  >
			 
			{contenido_sitio}
			</div> 
		<!-- END BLOCK : bloque_contenido_modulo -->
		
		<!-- START BLOCK : bloque_contenido_modulo_home -->
			{contenido_sitio}
		<!-- END BLOCK : bloque_contenido_modulo_home -->
						
						
  </div>
		
</div>
  <div id="pie">
  <table border="0" style="width:100%">
  
    <tr>
  <td   colspan="3"><br /><br /><br /><br />
 </td>
  </tr>
   
   <tr>
  <td   colspan="3"  ><img src="www/imag/blank.gif"  height="30"/> </td>
  </tr>
    
       
  </table>
  
  
 
  </div>
</div>
  
