body	{
	color: #000000;
/*	background-color: #eeeeff; */
/*	background-color: #f1eee9; */
	margin: 0;
	padding: 0;
}

.normal {
	font-family: bitstream vera sans, luxi sans, verdana, geneva, arial, helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
}

.normalbox      {
	border: 1px solid #440000;
	margin: 3px;
	padding: 5px;
	background-color: #ffffff;
}

.h1	{
	text-align: center;
	font-family: bitstream vera sans, luxi sans, verdana, geneva, arial, helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #880000;
}

.titlebox       {
	border: 1px solid #440000;
	margin: 0px;
	padding: 0px;
	background-color: #fefaf1;
}

a:link	{
	text-decoration: none;
	color: #003300;
}

a:visited	{
	text-decoration: none;
	color: #726461;
}

a:hover	{
	text-decoration: none;
	color: #841212;
	background-color: #fff0c0;
}

a:active	{
	text-decoration: none;
	color: #ff0000;
}
