<table width="650" cellpadding="3" cellspacing="0">
<!-- START BLOCK : bloque_academicos_titulo -->
<tr> 
<th colspan="8" valign="top" bgcolor="#E9E9E9" class="destacado13" class="celda_destacada" scope="col">{tipo_academico} </th>

</tr>
<!-- START BLOCK : bloque_academicos_fila -->
<tr>
<!-- START BLOCK : bloque_academicos_columna -->
<th scope="col" valign="top" width="10%" style="vertical-align:top"><a href="?page={page}&id={id_academico}"><img src="../../imagenes/profesores/{imagen_chica}" border="0" width="50" height="70"></a></th>
                    <th scope="col" align="left" valign="top" width="20%"><p><a href="?page={page}&id={id_academico}"> {nombre} {apellido} </a><br>
                        <span class="destacado13Copy">{resumen}</span></p></th>
                    <th scope="col" align="left" valign="top" width="3">&nbsp;</th>

<!-- END BLOCK : bloque_academicos_columna -->

</tr>
<!-- END BLOCK : bloque_academicos_fila -->

<!-- END BLOCK : bloque_academicos_titulo -->
  </table>
