 <div style="background: #F5F5F5; font-size:12px;">
 <div style="height:150px; padding-top:15px"> <!--{sufijo}<br> -->
<a href="?page={page}&subcategoria={subcategoria}&producto={id_producto}"><img src="docs/images/productos/{sufijo}.jpg"  style="max-height:150px; max-width:180px;" height="150px;"></a>
</div>
<!--<img src="{foto_colores}">--><br>
<a href="?page={page}&subcategoria={subcategoria}&producto={id_producto}" style="text-transform:uppercase">{producto}</a><br> 
<font  style="text-transform:uppercase; font-size:90%"><small>{precio}{precio_extra}</small></font><br><br> 
<input type="checkbox" name="producto_sel[]" value="{id_producto}"> Comparar
</div>