

<table>
<tr>
<td>
<div id='info_body_menu'>

		<!-- INCLUDE BLOCK : nf/templates/site/menu_lateral.tpl -->
</div>
</td>
<td>
<div style="height:26px; text-align:right;   margin-bottom:5px; width:600px;">
<a href="?page={page}&subcategoria={subcategoria}">&laquo; Volver</a>
</div>
<div id='info_body_contenido'>
	<!-- START BLOCK : bloque_catalogo_detalle -->
	<!-- INCLUDE BLOCK : nf/templates/site/catalogo_detalle.tpl -->
	<!-- END BLOCK : bloque_catalogo_detalle -->

	<!-- START BLOCK : bloque_catalogo_comparacion -->
	<!-- INCLUDE BLOCK : nf/templates/site/catalogo_comparacion.tpl -->
	<!-- END BLOCK : bloque_catalogo_comparacion -->	
	<!-- START BLOCK : bloque_catalogo_listado -->
	<!-- INCLUDE BLOCK : nf/templates/site/catalogo_listado.tpl -->
	<!-- END BLOCK : bloque_catalogo_listado -->
	&nbsp;
</div>
</td>
</tr>
</table>
