 
		<table border="0">
		<tr>
		
		
	<!-- START BLOCK : bloque_catalogo_comparacion_detalle -->
	<td   style="vertical-align:top; width:120px; padding: 0 7px 0 7px;">
	<!-- INCLUDE BLOCK : nf/templates/site/catalogo_comparacion_detalle.tpl -->
		 </td>
		
	<!-- END BLOCK : bloque_catalogo_comparacion_detalle -->
		</tr>
		 
		 
		</table>
	 

 