<table style="width: 650px;" align="left" border="0" cellpadding="0" cellspacing="0">
             
		  <tr> 
              <td   valign="top" colspan="3">&nbsp; 
			    </td>
            </tr>
		  <!-- START BLOCK : bloque_columna -->
		  <tr style="padding:10px"> 
		  <td  valign="top" class="intercalado{intercalado}"   style="text-align:center; vertical-align: middle" ><img src="cea/images/site/servi_archivos/{imagen}" border="0" style="max-width:150px" /></td>
		  <td   class="intercalado{intercalado}"   style="width:2px">&nbsp;</td>
              <td class="intercalado{intercalado}" valign="top"     style="text-align:justify" ><strong>{titulo}</strong> 
			    
			    <br />
		    <br /> {texto}  </td>
  </tr>
    <tr style="padding:10px"> 
		  
		  <td   class="intercalado{intercalado}"    colspan="3">&nbsp;</td> 
  </tr>

		  <!-- END BLOCK : bloque_columna -->
		  </table>