              <!-- START BLOCK : bloque_columna -->
              <p align="justify" style="text-align:justify; border-bottom:1px solid #003366; padding-bottom:10px;">
			  <SPAN class=noticia>
			  <IMG class=ladoleft 
      style="FLOAT: left; padding-bottom:80px;" height=70 
      src="cea/images/site/servi_archivos/{imagen}" width=50 
      border=0></SPAN><span class="TIT_not">{titulo}</span><br>
              {texto}</p>
               <!-- END BLOCK : bloque_columna -->