  <p> <a href="?page=view_publicaciones"><strong>A&ntilde;o {agno_actual}</strong></a>&nbsp;-&nbsp;&nbsp;<a href="?page=view_publicaciones_anteriores"><strong>A&ntilde;os anteriores</strong></a>  </p>
  
<table style="width: 650px;" align="left" border="0" cellpadding="0" cellspacing="0">
              <tr>
		  <td  width="15%" align="center"   class="celda_destacada" ><strong>N&uacute;mero</strong></td><td  class="celda_destacada" colspan="2"  >&nbsp;&nbsp;&nbsp;<strong>Documento</strong></td> 
		  </tr>
		  <tr> 
              <td   valign="top" colspan="2">&nbsp; 
			    </td>
            </tr>
		  <!-- START BLOCK : bloque_documentos -->
<tr> 
              <td class="intercalado{intercalado}"   align="center" valign="middle"  > <p><strong>N&ordm; {numero}</strong></p></td>
              <td class="intercalado{intercalado}"  valign="middle" > 
			  <p align="justify" class=TITULAR1> {texto} 
			  
			  
			  </td>
			  <td class="intercalado{intercalado}" ><a href="{link}"  target="_blank">
			   <IMG             height=31             src="cea/images/iconos/download_act.jpg" width=28             border=0></a></td>
            </tr>		  
		  
   

		  <!-- END BLOCK : bloque_documentos -->
		  </table>