<div id="home"    style=" position: relative;text-align:center; z-index:auto;   padding-left:10px">
 


<!--<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"  style=" position: relative;z-index: auto;" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="830" height="368">
  <param name="movie" value="fla2.swf" />
  <param name="quality" value="high" />
    <param name="wmode" value="transparent" />
  <embed src="fla2.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash"  width="830" height="368"></embed>
</object>-->


 <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="830" height="368">
    <param name="movie" value="fla2.swf" />
    <param name="quality" value="high" />
    <param name="wmode" value="transparent" />
    <embed wmode="transparent" src="fla2.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="830" height="368"></embed>
  </object>

</div>