 <div>
	<h2>{menu_destado}</h2> 
	<ul>
	<!-- START BLOCK : bloque_catalogo_menu_destacado_submenu -->
	<li><a href="?page={page}&subcategoria={subcategoria}">{submenu}</a></li>
	<!-- END BLOCK : bloque_catalogo_menu_destacado_submenu -->
	</ul>
	
	<!-- START BLOCK : bloque_catalogo_menu_simple -->
	<h3>{menu}</h3>
	<ul>
	<!-- START BLOCK : bloque_catalogo_menu_simple_submenu -->
	<li><a href="?page={page}&subcategoria={subcategoria}">{submenu}</a></li>
	<!-- END BLOCK : bloque_catalogo_menu_simple_submenu -->
	</ul>
	<!-- END BLOCK : bloque_catalogo_menu_simple -->
	</div>