<p>
<strong><big>
En caso de dudas favor escribir a <a href="mailto:comunicaciones@ciae.uchile.cl">comunicaciones@ciae.uchile.cl</a>
</big></strong></p>


<!--<p>
<strong><big>Si necesita ayuda, puede descargar el manual de uso del sistema o ver el video paso a paso.</big></strong>
</p>
<p>
<a href="download.php?file=ManualSistemaTareasRevisionPares.pdf">Descargar Manual de uso del Sistema</a>
</p>
<div style="text-align:center; padding-top:20px"  > 
  
<iframe height="300" width="400" src="http://www.youtube.com/embed/55uGD8bVfjM?autoplay=0&ref=0" frameborder="0" allowfullscreen></iframe>


</div> -->