

<input type="hidden"  name="opcion_modulo" value="{opcion_modulo}">
<input type="hidden"  name="seminario" value="{seminario}">
<input type="hidden"  name="id_evaluacion" value="{id_evaluacion}"> 
<input type="hidden" name="id_etapa" value="{id_etapa}" />
<input type="hidden" name="username_revisado" value="{username_revisado}" /> 
<input type="hidden" name="id_envio" value="{id_envio}" />
<input type="hidden" name="guardar_caso" value='guardar'>

 <!-- INCLUDE BLOCK : www/templates/evaluaciones/seleccionEvaluaciones.tpl --> 