
<!-- START BLOCK : bloque_evaluacion_final_pendiente -->
<div class="separador_areas">Evaluación Final</div>
<div>Complete la evaluación de cierre <a href="javascript:revisarEnvioFinal();"> <img src="../www/images/iconos/download_act.jpg" ></a></div>
<!-- END BLOCK : bloque_evaluacion_final_pendiente -->
<!-- START BLOCK : bloque_evaluacion_final_cerrado -->
<div class="separador_areas">Evaluación Final</div>
<div>Cerrado</div>
<!-- END BLOCK : bloque_evaluacion_final_cerrado -->