<div class="separador_areas">Enviar Respuestas</div>


 <!-- START BLOCK : bloque_formulario -->
<table  class="tabla_formulario">
	<!-- START BLOCK : bloque_nuevo_trabajo -->
	 
	<!-- <tr>
	<th>Agregar Archivo</th><td><input type="file" name="archivo"></td> 
	</tr> -->
	<tr>
	<td><strong><u>Pregunta 1:</u>  &iquestPor qu&eacute; es interesante medir la segregaci&oacute;n de desempe&ntilde;os en diferentes pa&iacute;ses y a trav&eacute;s de los a&ntilde;os?</strong>
	</td>
	<td><textarea name='texto' style="height: 132px;width: 262px;"></textarea></td> 
	</tr>
	

	<tr>
	<td><strong><u>Pregunta 2:</u>  Explica la necesidad de ajustar las m&eacute;tricas de segregaci&oacute;n por los tama&ntilde;os de las escuelas.</strong>
	</td>
	<td><textarea name='texto2' style="height: 132px;width: 262px;"></textarea></td> 
	</tr>
			
	<!-- END BLOCK : bloque_nuevo_trabajo -->
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2"  style="text-align:center ">
<button type="button" onClick="javascript:guardarFormulario();"><span>Enviar Respuestas</span></button> 
<button onclick="javascript:cancelarFormulario();" type="button" title="Cancelar"><span>Cancelar</span></button> 
</td></tr>
</table>
<br><br>


 <!-- END BLOCK : bloque_formulario -->


<!-- INCLUDE BLOCK : www/templates/evaluaciones/envio/listado_archivos.tpl -->
