<table  class="tabla_formulario">
<tr><th  style=" text-align:center "> Respuesta(s) enviada(s)</th></tr>
<tr><td>
<table class="tabla_noborder_admin"    >

<th>Pregunta</th> 
<th>Respuesta</th> 
<th>Fecha</th> 
</tr>
<!-- START BLOCK : bloque_lista_no_item -->
<tr><td colspan="5" style="text-align:center "><small>No hay respuestas disponibles</small></td></tr>
<!-- START BLOCK : bloque_lista_no_item -->
 <!-- START BLOCK : bloque_lista_item -->
 <tr > 
 <td  valign="top"  class="{class_color}" style="text-align:center " ><small>1</small></td>
 <td  valign="top"  class="{class_color}" >{texto}</a></td>
 <td  valign="top"  class="{class_color}" style="text-align:center ">{fecha_html}</td> 	
 </tr>
 
 <tr > 
 <td  valign="top"  class="{class_color}" style="text-align:center " ><small>2</small></td>
 <td  valign="top"  class="{class_color}" >{texto2}</a></td>
 <td  valign="top"  class="{class_color}" style="text-align:center ">{fecha_html}</td> 	
 </tr>

 
 <tr>
 	
 	<td  colspan="3" valign="top"  class="{class_color}" style="text-align:center " >  
	 <a href="javascript:eliminarArchivo('{id_envio}');">Eliminar Respuestas</a>
	</td> 
	
 </tr>

 <!-- END BLOCK : bloque_lista_item -->

</table> 
</td></tr>
</table>