<table  class="tabla_formulario">

<tr><td>
<table class="tabla_noborder_admin"    >

<th  style=" text-align:center ">Respuesta(s) enviada(s) en primera etapa:</th> 

</tr>
 
  <!-- START BLOCK : bloque_lista_item_reevaluacion -->
 
	  <tr><td>
      <strong><br><u>Pregunta 1:</u>  &iquestPor qu&eacute; es interesante medir la segregaci&oacute;n de desempe&ntilde;os en diferentes pa&iacute;ses y a trav&eacute;s de los a&ntilde;os?</strong>
      </td></tr>
      
      <tr><td style="padding-left:20px">
      <strong>Respuesta:</strong> {texto}<br><br>
      </td></tr>

      <tr><td>
      <strong><u>Pregunta 2:</u>  Explica la necesidad de ajustar las m&eacute;tricas de segregaci&oacute;n por los tama&ntilde;os de las escuelas.</strong>
      </td></tr>
      
      <tr><td style="padding-left:20px">
      <strong>Respuesta:</strong> {texto2}<br><br>
      </td></tr>
      
      <tr><td>
      <strong>Fecha de entrega:</strong> {fecha_html}
      </td></tr>



 



 <!-- END BLOCK : bloque_lista_item_reevaluacion -->
</table> 
</td></tr>
</table>