<div class= 'confirmacion'>
<input type="radio" class="radio_confirmacion" name="seccion[{id_bloque}]"  {checked} value="{id_seccion}"  /> 
<strong style="font-size:95%">Intención de asistir</strong> 
</div>