 /*  
Theme Name: Sidweb 2.0
Theme URI: http://www.sidwod.com
Description:  Sidweb 2.0 Theme
Version: 0.1
Author: Sidwod Ltda.
Author URI: http://www.sidwod.com
*/
/* -----------------  page styles -------------------------------------------------------*/
 /* clear all default CSS */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size: 12px; font-weight: normal; font-style: normal; }
ul,ol { list-style: none; }
li {padding-left:10px}
fieldset,img { border: none;background: transparent; }
caption,th { text-align: left; }
table  { border-collapse: collapse; border-spacing: 0; width:100%;  }

p,span { margin:0;padding:2px 0 8px 0;line-height: 18px;}
td {padding:5px 5px 8px 5px; vertical-align:top; }
/* LAYOUT */
.clear { clear:both; }
.clearer { clear: both; display: block; margin: 0; padding: 0; height: 0; line-height: 1px; font-size: 1px; }



/*
a ,a.linksimple { color:#631e19; text-decoration: underline;background:none; }
a:hover,a:hover.linksimple { color:#894e4e; background:none; text-decoration:underline; }
a { text-decoration: none; }*/
a { color:#52799C; text-decoration:none; font-weight: bold;  }
a:hover {   text-decoration:underline; }
a:visited {   text-decoration:none; }

* { margin: 0; padding: 0; outline: none; }

html{
	padding: 30px 0px 0px 0px;
	margin:0px;
	min-width: 780px;
	height:100% !important;
}
 
strong { font-weight:bold;}

body{ padding:0; margin:0; font-size:11px;	
	background-color: #CEDFEF;font-family: Verdana, "times new roman", georgia, times,  serif; line-height: 17px;  color: #555; 
  ;
 voice-family: inherit;
} html>body { font-size: 11px;   }
 

#wrapper { margin:0px auto !important; width:900px;  padding:0;   text-align: left;	}

/* -----------------  general styles  -------------------------------------------------------*/



 
h2 { font-weight:bold; font-size:13px; padding:0px 0 4px 0px; margin: 5px 0 2px 0; color:#444; background:none; border-bottom: 2px dotted #444; }
ul { margin: 0; padding : 0; list-style : none; }
h4 {font: 20px 'HelveticaNeue-CondensedBold', 'Arial Narrow', Helvetica, Arial, sans-serif; margin:0;}
.pic{margin-top:8px;}
img { border: 0;  }

.img_photo { border:none; padding:5px;  }


#mainAreaInternal h2 , .FrameTitle{
	font-size:20px;
	line-height: 25px;
	font-weight:normal; 
	color:#52799C;
	padding:0px 0 3px 0;
	margin:0px 0 10px 0;
	text-transform: uppercase;
	border-bottom:1px dotted #52799C;
}

/* -----------------  top info  -------------------------------------------------------*/
#header { clear: both;  width:945px; height:219px; margin:0;   }
#banner_header { float: right; right:29px; position:relative;}

#menu_top {float:right; top:5px; right: 180px ; position: absolute; height:20px;    }

#menu_top ul { display:inline; height:20px; }
#menu_top li { display:inline; height:20px; }
#menu_top li a {  height:20px; color:#425573; font-weight:bold; font-size:12px; text-decoration:none; padding:1px 10px 1px 10px;  background:none;}
#menu_top li a:hover { text-decoration:underline;} 


#title {float:left; left:127px; width:470px; padding: 0px 260px 10px 10px;position:absolute;}
#title img{ margin:-14px 10px 0 0;}
#title h3 {font-size:18px; padding:5px 0 0 10px; color: #444;font-weight:bold;}
#title p {font-size: 10px; color: #808080; padding: 0; background: inherit;}

#hright {float:right; width:540px; height: 60px; margin:15px 0 0 0;}
#hrighttop {width: 200px;margin: 0 2px 0 0; padding: 0 8px 2px 0; float:right; text-align: right;}

#menu { width: 540px; float:right; margin:2px 0 0 0; padding:0; text-align:right;}
#menu li { display:inline; }
#menu li a {  color:#444; text-decoration:none; padding:1px 10px 1px 10px;height:19px; background:none;}
#menu li a:hover { background: none;color:#631e19;} 

/* ----------------- Main content -------------------------------------------------------*/
.message{ position:absolute;  width:360px; float:left; margin:70px 0px 0px 165px; color:#fff;}

#bottomcontenttop{width:760px;height:2px;/*background: url(../images/banda_menu/barra2.jpg) repeat-x top; */}
#bottomcontent{width:890px;margin:0px; padding-top:0px;height:auto !important;}
#content_header{height:22px !important;;background:#CDDF8B;margin-top:17px; text-align:right;/*background:url(../images/barra_ver/linea2.gif) repeat-x top;*/}

#content_header_os{height:22px !important;;background:#CDDF8B;margin-top:17px; text-align:right;/*background:url(../images/barra_ver/fondo_ver_os.gif) repeat-x top;*/}

.left {float: left;width:190px;margin: 0 0px 5px 12px; padding:0px;background:#fff;}
.right {float: right;width: 660px; position: relative;  margin: 0 10px 5px 0; padding-top:10px;background:#fff  ;}  

.middle {float: right;width: 270px;margin: 0 6px 5px 0; padding:10px;background:#fff;}

.complete {float: left;width: 98%;margin: 0 0px 5px 0; padding:10px 1px 10px 1px ;/*background:#fff url(../images/banda_menu/barra_ver_3.jpeg) repeat-x top;*/}


.imagen_presentacion{
float:left;
padding: 55px 10px 350px 10px;

}
#user_info {
	float:absolute;
	float: right;
	padding: 1px 18px 0px 0px;
	text-align:right;
	right:0px;
	color:#807D7D;
	font-weight:bold;
}

.thumbs img{position:relative;padding:1px;margin:5px 8px 5px 9px;border:2px solid #631e19;background:none;}
.thumbs img:hover{border:2px solid #c5c5c5; background:none;}


#sidebar h2 {font-weight:bold; font-size:13px;text-align:left; line-height:14px;padding:5px 0px 20px 20px;border:none; margin:0px; color:#3787DC; /*background:url(../images/banda_menu/menu.gif) repeat-x top; */} 
#sidebar div{ /*background:url(../images/banda_menu/11.jpg) repeat-x top; color:#3787DC;*/}
#sidebar div.login{ /*background:url(../images/login.gif) repeat-x top;*/}

/*#sidebar a:link,#sidebar a:visited{font-size:10px;color: #52799C ;font-weight:bold; background:url(../images/banda_menu/8b.jpg) top left;width:189px;height:30px;padding:2px 0 0 5px;display:block; text-decoration:none;}
 
#sidebar  a:hover{background:none; }*/

#sidebar a.faq:link,#sidebar a.faq:visited{font-size:10px;color:#91999C;font-weight:bold; /*background:url(../images/banda_menu/8big.jpeg) top left;*/width:160px;height:auto;padding:0 0 0 28px;display:block; text-decoration:none;}
#sidebar  a.faq:hover{background:none; }


#sidebar a.faq_single:link,#sidebar a.faq_single:visited{font-size:10px; width:190px;color:#91999C;font-weight:bold;   padding:0 0 0 2px;  text-decoration:none;/*background:url(../images/banda_menu/8b_sinflecha.jpg) top left;*/}
#sidebar  a.faq_single:hover{ text-decoration:underline; }


#sidebar .bloque{ padding:10px;}
/*#sidebar a.simple{ background:none;text-decoration:underline;}*/

/*---------------------------- Menu ----------------------------------------------*/

.nav3 {overflow: hidden; clear: both; float: left; width: 180px;  margin: 0px; padding: 0px;color: #427194;  }
.nav3 ul {width: 180px;  margin: 10px 0px 10px 0px; padding: 8px 0 0 0; color: #52799C ;   }	
.nav3 li {  margin: 0px; padding: 0px;  color: #52799C ;}
.nav3 li a {padding: 2px 5px 0px 5px;display: block;line-height:5px; min-height: 1.7em; height: auto !important; line-height:12px; margin: 0px;  text-decoration: none;   }


.nav3 li.group a { padding-top:2px;display: block; min-height: 1.7em;height: auto !important; vertical-align:middle;     margin: 0px;     font-weight: bold; min-height: 33px; }  
.nav3 li.subgroup a {display: block; height: auto !important; min-height: 33px; padding-left:5px ;    margin: 0px;      font-weight: normal ;        }
.nav3 li.group a:hover, li.subgroup a:hover, .nav3 li a.subselected { text-decoration: underline ; }
 



/* ----------------- Bottom content -------------------------------------------------------*/
.clear { clear: both;}
#footer { height: 50px;  text-align:center;color: #444;  padding:  25px 0 0 0; margin:10px 0 0 0;    color:#FFFFFF; font-weight:bold;   background: url(../images/site/homme_footer_linea.png)  repeat-x; clear: both; position: relative;    }
#footer a{color: #631e19;background:none;}
#footer li{ display: inline;padding-right: 20px;}

#mainAreaInternal{
	line-height: 1.7em;
	padding: 13px 5px 43px 12px;
	text-align: justify;
	color: #3A3535;
	font-size : 12px;
	min-height:400px;
	 height: auto !important;   
}

#mainAreaInternal ul,  { list-style:square;padding-left: 20px; }

#mainAreaInternal ol { list-style:decimal; padding-left: 20px; }



.footer, .push {
	height: 4em; /* .push must be the same height as .footer */
}


/* Navegacion
----------------------------------------------------------------------------------------------------*/
#mainNav li{
	width:50px;
	height:22px;
	list-style:none;
	float:right;
	background-color:#CDDF8B;
	/*background-image: url(../images/barra_ver/flecha2.gif);*/
	background-repeat: no-repeat;
	background-position: right top;
	*font-size:medium;
	*font:medium;
	font:12px arial,helvetica,clean,sans-serif;
	
}

	
#mainNav li.current{
	background-color:#ADD638;
	/*background-image: url(../images/barra_ver/fecha1.gif);*/
}

#mainNav li.lastDone{
	background-color:#CDDF8B;
	/*background-image: url(../images/barra_ver/flecha3.gif);*/
}

#mainNav li.done{
	background-color:#ADD638;
	/*background-image: url(../images/barra_ver/fecha1.gif);*/
}

#mainNav li.mainNavNoBg{
	/*background-image:none;*/
	background-color:#CDDF8B;
	/*background-image: url(../images/barra_ver/flecha2.gif);*/
}



#mainNav li a, #mainNav li a:link, #mainNav li a:visited, #mainNav li a:hover, #mainNav li a:active {
	color:#688324;
}

#mainNav li.lastDone a, #mainNav li.lastDone a:link, #mainNav li.lastDone a:visited, #mainNav li.lastDone a:hover, #mainNav li.lastDone a:active{
color:#688324;
}

#mainNav li.current a, #mainNav li.current a:link, #mainNav li.current a:visited, #mainNav li.current a:hover, #mainNav li.current a:active, #mainNav li.done a, #mainNav li.done a:link, #mainNav li.done a:visited, #mainNav li.done a:hover, #mainNav li.done a:active {
	color:#fff;
}

#mainNav li.done a:hover, #mainNav li.lastDone a:hover  {
	color:#FFFF99;
	cursor:hand;
}

#mainNav li a em{
	width:20px;
	display:block;
	margin:2px 20px 0 10px;
	font-style:normal;
	font-weight:bold;
}

#mainNav li a span{
	width:50px;
	display:block;
	margin-left:10px;
	font-weight:normal;
}


#mainNav li a{
	height:30px;
	display:block;
}

.revision_fila {

	border-bottom: 1px dotted #333333; 
	vertical-align:middle; 
	min-height:35px; 
	padding: 5px 0 5px 0px;
	font-size:11px;
}

/*---------------------------------------------------------------------*/

.bloque_eventos_publicaciones  { float:right; width:300px; padding:20px 5px 20px 5px; text-align:justify;  }
.bloque_eventos_publicaciones_fila  {   text-align: justify  ; border-bottom: 1px dotted  #CCCCCC; padding:15px 0 15px 0;}
.bloque_eventos_publicaciones_titulo  {   color: #52799C ; font-weight:bold;  }
 .bloque_eventos_publicaciones h3 {   font-size:130%; font-weight:bold; text-align:left; color:#999999; padding:10px 0 10px 5px;}
.border_slim_img {
width: 100px;
height: 100px;
	background-color: #fff;
	border: none;
	padding: 3px;
	margin: 0 5px 30px 5px;
} 

/*******************************************************/



/***************fin estilo botones***************************/

.inputtext { 
	font-size:120%;	
	border:1px solid #D4D4D4;
	font-weight: normal;
	width: 90%;
	margin: 3px 0 3px 0; 
	padding: 3px;
}
/*
select,.inputtext { 
	font-size:100%;	
	border:1px solid #D4D4D4;
	font-weight: normal;
	width: 90%;
	margin: 3px 0 3px 0; 
}

textarea  { 
	font-size:100%;	
	border:1px solid  #D4D4D4;
	font-weight: normal;
	width: 90%;
	height: 50px; 
	margin: 3px 0 3px 0;
}
*/

.inputtext_small{
	font-size:100%;	
	border:1px solid #D4D4D4;
	font-weight: normal;
	width: 30%; 
	margin: 3px 0 3px 0;
}

.buttontype {  
	border:1px   dotted #666666;
	background-color:#E9E9E9;
	padding: 3px 10px 3px 10px;
	/*background:#E9E9E9 url(../images/images_portal/fondo_boton.gif) repeat-x;*/
	width: auto;
	height: auto;
}

select:hover, textarea:hover {
  background: #EFEFEF; 
}
 
 .inputtext:hover ,.buttontype:hover {
  background: #EFEFEF; 
} 
.fieldset_title {
	font-weight:bold; 
	font-size:16px; 
	padding:8px 5px 8px 10px; 
	margin: 15px 0 2px 0; 
	color:#444; 
	background: #DEE5E8; 
	border-bottom: 1px solid #444;
}

.fieldset_title_interno {
	font-weight:bold; 
	font-size:13px;
	height:15px;
	border-bottom:1px groove #333333;
	margin:5px 0px 5px 0px;
	padding-top:5px;
	text-transform:uppercase;    
}

.revision_informacion {
  
	font-size:12px; 
	padding: 0 5px 0 0; 
}

.span_modificacion {
	font-weight:bold; 
	font-size:10px;
	padding-right:5px; 
	text-decoration:underline; 
}

.span_modificacion strong {
font-weight:bold; 
	font-size:10px;
}

.fieldset_title_separador{
	font-weight:bold; 
	font-size:16px; 
	padding:8px 5px 8px 10px; 
	margin: 15px 0 2px 0; 
	color: #444;
	text-align: center; 	
	background: #D5DBDF; 
	border-bottom: 1px solid #444;
}


fieldset {
	padding: 15px 10px;	
	margin: 20px 0;
	border: 1px solid #438CD0;
	background-color: #F2F8FA; /*EEFAFF*/
}

legend {
	padding: 2px 5px;	
	color: #1C3D75;
	font-weight: bold;
	font-size: 14px;
}

fieldset div{
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
}

#login_form input
{
	border: 1px solid #ddd;
	width: 150px;
	height:auto;
	background: #f2f2f2;
	font: 11px verdana, sans-serif;
	color: #443;
	padding: 3px;
	margin-bottom: 10px;
	outline: none;
	height:15px;
}

#login_form input:hover,
#login_form input:focus
	{ border: 1px solid #aaa; }
	
.loginx {
	font-size: 10px;
	padding:10px;	
	margin: 0px;
	border: 0px solid #438CD0;
	background-color: transparent; 
	height: auto;

} 

#login_form  label{font-size: 11px;}

 /*
fieldset {
	border:0px;
	border-bottom:1px dashed #666666;
	padding: 10px 0 10px 10px;
} */

.noborder{
	border:0px;
}
 

label {
	font-weight:bold;
	font-size: 13px;
	padding: 5px 0 5px 0;
}

label   {
	font-weight: normal;
	padding: 0 3px 0 3px;
	font-size: 12px;
	width:10%;
	vertical-align: bottom;
}	
 
/*input , textarea  {
	width: 90%;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;	
	font-size: 13px;
	padding: 3px;
	height:19px;
	vertical-align:middle;
}

select{
	height: 25px;
	width: 90%;
	vertical-align: top; 
}

textarea{
	height: 100px;
}
*/
.inputfile
{
	width: 50%;
	height: 30px;
}

/*input[type="checkbox"] ,input[type="radio"]
{
	width: 	18px;
	height: 18px;
	margin-right: 3px;
}
*/

.inputcheckbox  
{
	width: 	18px;
	height: 18px;
	margin-right: 3px;	
	border: none;  
}

.div_oculto {
	visibility: hidden ;
	height:1px;
	display:none;
	
}
.div_visible {
	visibility: visible;
	display:block;
	height:auto;
}


.mensaje_error
{
	padding: 15px;
	font-size: 14px;
	text-align: left;
	background: #FFDBD4;
	border:1px solid  red;
}


.mensaje_exito 
{
	padding: 15px;
	font-size: 14px;
	text-align: left;
	border:1px solid #3787DC;
	background: #DEE5E8;
}


.fondo_claro,.fila_fondo_claro {
background-color:#FFFFFF;
}


.fila_fondo_oscuro,.fondo_oscuro {
background-color: #ECECEC  ;
}

/** ESTILO TABLA CHECKLIST**/
#tabla_checklist {
	width:97%;
	padding:3px;   
	border: 1px solid #444;
}

#tabla_noborder {
	width:97%;
	padding:3px;    
}

#tabla_checklist th {

	color:#444; 
	background: #DEE5E8;
	font-weight:bold; 
	font-size:14px; 
	padding:8px 10px 8px 10px;  
	vertical-align:middle;
	text-align:center;
	border: 1px solid #666666;
}
#tabla_checklist td {
	
	border: 1px solid #666666;
	padding:3px 0 3px 5px;  
	font-size:12px; 
	vertical-align:top;
	text-align:left;
}

#tabla_noborder th {

	color:#444; 
	background: #DEE5E8;
	font-weight:bold; 
	font-size:14px; 
	padding:8px 10px 8px 10px;  
	vertical-align:middle;
	text-align:center;
	border-bottom: 1px solid #666666;
}

 

#tabla_noborder td {
	
	border-bottom: 1px solid #666666;
	padding:5px 2px 5px 10px;  
	font-size:12px; 
	vertical-align: middle;
	text-align:left;
}


#tabla_noborder_admin {
	width:97%;
	padding:3px;    
}



#tabla_noborder_admin th 
{
	color:#444; 
	background: #DEE5E8;
	font-weight:bold; 
	font-size:11px; 
	padding:5px 5px 5px 5px;  
	vertical-align:middle;
	text-align:center;
	border-bottom: 1px solid #666666;
}

 #tabla_noborder_admin strong {
 font-weight:bold;
 font-size:11px;
 }

#tabla_noborder_admin td {
	
	border-bottom: 1px solid #666666;
	padding:2px 5px 2px 5px;  
	font-size:11px;
	line-height: 15px;
	vertical-align: middle;
	text-align:left;
}
 
.textarea_revision
{
	height:100px;
	width: 95%;
	font-size:12px;
}


.textarea_revision_text
{
	height:40px;
	width: 95%;
	font-size:12px;
}

.form_tabla_campo
{
	vertical-align: top; 
}



/**DIV VENTANA INTERNA*/
.div_ventana_interna {
	overflow:scroll;
	position: fixed;   
	top: 20px;  
	background-color:#ffffff;
	border:4px solid #CEDBE7; 
	height: 1px;
	left: 20px;
	padding: 10px;
	z-index: 100;
}

.div_debug {
	width: 680px;
	border:1px #333333 solid;
	text-align: left;
	padding:5px;
}

.clase_atencion 
{
	color:#FF0000;
	font-weight:bold;

}

.clase_recuerde
{ 
	
	border: 1px  solid #000;
	padding: 10px;
	margin: 5px 0 5px 0;
}
