 /*  
Theme Name: Sidweb 2.0
Theme URI: http://www.sidwod.com
Description:  Sidweb 2.0 Theme
Version: 0.1
Author: Sidwod Ltda.
Author URI: http://www.sidwod.com
*/
/* -----------------  page styles -------------------------------------------------------*/
 /* clear all default CSS */
html { 
  padding:0px;   margin:0px; }

body { font-family:"Franklin Gothic Medium", Arial;
	background:#ECF0F3 url(../images/site/home_fondo.png) center top fixed; font-size: 12px; 	color:#564b47; 	text-align:center; margin:0px; padding:0px; }


img {border:0;}
p,pre, h1 {
margin:0px 10px 10px 10px; }

h1 {
font-size:14px; padding-top:10px; text-transform:uppercase; color: #564b47; background-color: transparent; }

a { 
color: #EBEBEB; font-weight:bold; font-size: 12px; 
}

a:hover {text-decoration:underline;}
 
pre { 
color: #564b47; font-size: 11px; background-color:transparent; font-family: Courier, Monaco, Monospace; }


/*  positioning-layers statisch und absolut */

#box {width:900px; margin: 0px auto; padding:0px; text-align:left; }


#box_contenido {width:900px; margin: 0px auto; padding:0px; text-align:left; }


#head {background-color:transparent; }

#head h1 {font-size: 11px; text-transform:uppercase; text-align: right; color: #564b47; background-color: #90897a; padding:5px 15px; margin:0px;}

/************** BLOQUE MENU SUPERIOR DEL SISTEMA *****************/
#menu { margin-top: 55px; 
background:#ECF0F3 url(../images/site/border_menu.png)  repeat-x; height:45px;
text-align:center; 
}

#menu p { padding:7px 0 0 130px; width:900px; text-align:left; color:#CCCCCC; }



#left {
width:175px; padding:0px; float:left; background-color:#ff99cc; }

#content {
width:400px; padding:0px; float:left; background-color:#fff; overflow: auto; }

#right {
width:175px; padding:0px; float:left; background-color:#ff99cc; 
} 

#head p {
padding:10px; margin:0px; }

#footer { height:91px;background:#ECF0F3 url(../images/site/homme_footer_linea.png)  repeat-x; color: #F7F7F7;

}

/**************** CATALOGO *****************/
#info_body_menu {     width: 150px; margin:0 4px 4px 14px;  height:auto;background:#ECF0F3 url(../images/site/catalogo_fondo_menu.png)  repeat-y; color:#E2E2E2;   }
#info_body_menu h2 { height:30px; background:url(../images/site/menu_lateral_destacado.png) repeat-x; text-transform:uppercase; color:#FFFFFF; font-size:15px; margin:2px; padding:2px; font-weight:bold; border:none; }
#info_body_menu h3 {   background:url(../images/site/menu_lateral_simple.png) repeat-x; text-transform:uppercase; color: #333333; margin:5px 2px 2px 2px; padding:2px; font-weight:bold; text-decoration: none; }