/* CSS Document */



#wrapper { margin:0px auto !important; width:900px;  padding: 27px 0 0 45px;   text-align: left; top: 100px;	}
#title { padding-left:26px;}
.img_photo { border:none; padding:5px;}

td {padding:5px;