 <!-- INCLUDE BLOCK : www/templates/evaluaciones/base_header_hidden.tpl -->
<div style="text-align:center"><strong>Uds no cumpli&oacute; con las etapas anteriores por lo que no puede continuar con las actividades.</strong></div>

 