.B {
	FONT-WEIGHT: bold
}
.sub {
	MARGIN-TOP: 1pt; FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-BOTTOM: 1pt; COLOR: #336699; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.res {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.roj {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #990000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.azu {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #336699; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.ver {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #006633; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.RECU {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; WIDTH: 100%; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.TFLIN {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #006600; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.TFCOL {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #003366; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.TCELL {
	FONT-SIZE: 8pt; COLOR: #cccccc; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.TITPPAL {
	MARGIN-TOP: 0pt; FONT-WEIGHT: bold; FONT-SIZE: 20px; MARGIN-BOTTOM: 0pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, Verdana; TEXT-ALIGN: left
}
.TITSEC {
	MARGIN-TOP: 0pt; FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-BOTTOM: 0pt; COLOR: #333366; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica
}
.TITULAR {
	MARGIN-TOP: 1pt; FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN-BOTTOM: 1pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial; TEXT-ALIGN: left
}
.TEXTarticulo {
	MARGIN-TOP: 1pt; FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN-BOTTOM: 1pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial; TEXT-ALIGN: justify
}
.TEXTnumero {
	MARGIN-TOP: 1pt; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN-BOTTOM: 1pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Arial; TEXT-ALIGN: left
}
.TEXTautores {
	MARGIN-TOP: 1pt; FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN-BOTTOM: 1pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial
}
.TEXTdocumento {
	MARGIN-TOP: 1pt; FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-BOTTOM: 1pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial; TEXT-ALIGN: right
}
.TEXTautores1 {
	MARGIN-TOP: 1pt; FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN-BOTTOM: 1pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial
}
.TEXTautores2 {
	MARGIN-TOP: 1pt; FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN-BOTTOM: 1pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial
}
.TEXTautores3 {
	MARGIN-TOP: 1pt; FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN-BOTTOM: 1pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial
}
.TEXTemail {
	MARGIN-TOP: 1pt; FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-BOTTOM: 1pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial
}
.TEXTemail1 {
	MARGIN-TOP: 1pt; FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-BOTTOM: 1pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial
}
.TEXTemail2 {
	MARGIN-TOP: 1pt; FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-BOTTOM: 1pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial
}
.TEXTemail3 {
	MARGIN-TOP: 1pt; FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-BOTTOM: 1pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial
}
.TITULAR_bco {
	MARGIN-TOP: 1pt; FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN-BOTTOM: 1pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Arial; TEXT-ALIGN: left
}
.TEXT_bco_ch {
	MARGIN-TOP: 1pt; FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN-BOTTOM: 1pt; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Arial
}
.TIT_not {
	MARGIN-TOP: 1pt; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 1pt; COLOR: #003366; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.TEXTbajada {
	MARGIN-TOP: 1pt; FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-BOTTOM: 1pt; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
