<div class="subtitulo">Etapa: "{nombre_etapa}"</div> 
<p>{indicaciones_revision} {indicaciones}</p>



<!-- <div class="subtitulo">{descripcion}
	<br />Etapa  "{nombre_etapa}" </div>
<p>{indicaciones_revision} {indicaciones}</p> --!> 

